@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.plats {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.plats{
  display:flexbox;
  margin: 10%;
  height: 40%;
  justify-content: space-between;
  align-items: flex-start;
  font-size:large;
}

.plats img {
  display: flex;
  width: 200px;
  height: 200px;
} 

.h3{
  color: white;
  font-family:'Lobster';
  font-size:xx-large;
  display: flex;
  justify-content: center;
} 

.platimg {
  background-color:gray;
  padding: 6px;
}  

.plats h4 {
  display: inline-block;
  color: white;
}


.plats li:hover{
  transform: translateY(-30px) scale(1.1);
} 

.invalid-feedback {
  color: red;
}

.contenu h1{
  color: white;
  font-size:xx-large;
  margin: 10%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenu p{
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 2em;
  width: 200px;
  height: 20px;
  border-radius: 200%;
  border: 2px solid;
  border-color: black;
}

.log {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 5px solid;
  border-color: black;
}

.fond {
  background-color: black;
  background: linear-gradient(green,orange,red);
}

.banniere {
  width: 100%;
  height: 400px;
  display: flex;
  
}

body {
  background-image: url(/images/OIG3..NrJAB.B8DI.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

header h1 {
  font-size: 40px;
 
}

header p {
  font-size: 25px;
  text-align: center;
}

div.title-box h1,p,li {
  font-family: 'Montserrat', sans-serif;

}

/* slider*/

.slider {
  overflow: hidden;
}

div.slides {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: calc(600px *3);
  height: 500px;
  flex-direction: row;
  animation: glisse 15s infinite ease;
}

.slide {
  opacity: 1;

}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(-600px);
  }

  66% {
    transform: translateX(-1200px);
  }

  100% {
    transform: translateX(0);
  }

}

.navbar {
  display: inline-block;
  position: relative;
  z-index: 10;
}


.navbar a {
  color: #c11515;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}

.contenu {
  max-width: 80%;
  text-align: center;
}

.banniere .contenu h2 {
  color: yellow;
  font-size: 3em;
  text-transform: capitalize;
}

.boutton1 {
  font-size: 1em;
  color: black;
  background: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
}

.boutton2 {
  font-size: 1em;
  color: black;
  background: #b0a70b;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
}

.header td a {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 20px;
  color: black;
  text-decoration: 0;
  position: relative;
}

.header td a::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  width: 0;
  height: 5px;
  background-color: black;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.header td a:hover::after {
  width: 100%;
}


/* contact*/

h2{
  color:white;
}
.adresse{
  color: white;
  text-align:center;
  justify-content: center;
  font-size: x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

 .contact {
  background-size: cover;
  box-shadow: 4px 4px 12px cornflowerblue;
  width: 100%;
  background-position: center;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif; 
 }

#contact {  
  margin-top: 3%;
  background-image: url(/images/interieur\ restaurant.jpg);
  border-radius: 100%;
}

.map {
  width: 60%;
  margin-top: 20%;
}


.header, table, td {
  background-color: rosybrown;
  border-color: black;
  border:  2px solid;
  align-items: center;
  display: inline-block;
  padding: 0%;
  color: black;
}


/* a propos de nous */
.imgp {
  width: 90%;
  border-radius: 50%;
  border: 5px solid;
  color: black;
}


.presentation, p {
  color: white;
  display: flex;
  float: right;
  font-size:large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


/*footer*/

.footer {
  color: white;
  margin-top: 30px;
  padding: 30px;
}

.icones_social{
  background-color: black;
}


a.social {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

a.social:hover {
  background-color: #ffa600;
  color: white;
  
}

a.social:not(:last-child) {
  margin-right: 10px;
}
  
footer .div2 {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;  
}

footer .div2 h3 {
  margin-bottom: 10px;
}
footer .div2 ul {
  display: flex;
  flex-direction: column;
}
footer .div2 ul a {
  font-size: 12px;
  color: white;
  text-decoration: 0;
  margin-bottom: 5px;
  transition: 0.5s;
}

footer .div2 ul a:hover {
  letter-spacing: 0.5px;
  color: #fb911f;
}

.div3 {
  display: flex;
  text-align: center;
  color: white;
  background-color: black;
  justify-content: center;
}


/*reservation*/

.reservation{
  background-image:url(/images/OIG3.jpg);
  background-size: 30%;
  color:white;
  display: flex;
  justify-content: center;
  font-size: x-large;
  border: 2px solid;
  margin: 20px;
  padding: 10px 20px 5px;
}
.bouttonc{
  color: black;
}

/*menu*/

.menu
{
  display: block;
  justify-content: space-around;
  color: white;
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
  color: yellow;
}

.actus{
  color: white;
  background-color: green;
  margin:70px;
  width: 50%;
  font-size: larger;
}

.ambiance {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}

.ambiance p{
  display: flex;
  float: left;
  color: yellow;
  font-size:large;
}

.confirmation li p{
  display: flex;
  text-align: center;
}

.p1{
  position:absolute;
  font-size: x-large;
  
}

.ul1 li{
  text-align: center;
  color: white;
  list-style: none;
}

.etik{
  color: white; 
  font-size: x-large;
}

.prix{
  color:white;
  font-size: x-large;
}
